// overrides

$body-bg: #fff
$body-color: #1A1A1A

@import "../../node_modules/bootstrap/scss/bootstrap-reboot"
@import "../../node_modules/bootstrap/scss/bootstrap-grid"
@import "../../node_modules/bootstrap/scss/bootstrap"

@import "./components/toggle-tip"
@import "./components/content-layout"
@import "./components/content-navigation"
@import "./components/schema"
@import "./components/card"
@import "./components/spec-path"
@import "./components/spec-operation"
@import "./components/spec-parameters"
@import "./components/request-body-object"
@import "./components/media-type-object"

h3
  font-size: 1.5rem

h4
  font-size: 1.3rem

h5
  font-size: 1.1rem

.table
  td
    border-width: 1px
    border-color: #e8eaed
  // tr:nth-child(even)
    // background-color: #f2f2f2

  td
    padding: .3rem .4rem

code
  background-color: transparent !important
