extend layouts/base

block content
  at-error-event-handler

  if spec
    at-api-spec(spec=spec)
      .message
        | APITown
        = " "
        = spec
  else
    p No Spec has been provided. Please provide a valid `spec` query parameter.
