extend layouts/base

block content

  at-content-wrapper
    at-content-row
      at-content-navigation
        nav
          p.nav-headline Resources
          ul

            li
              a(href="#")
                | Dog
                span.link-rel pet:dog

            li
              a(href="#")
                | Dog Food
                span.link-rel pet:dog-food

            li
              a(href="#")
                | Dog School
                span.link-rel pet:dog-school

      at-content-container
        if spec
          at-api-spec(spec=spec)
            .message
              | APITown
              = " "
              = spec
        else
          p No Spec has been provided. Please provide a valid `spec` query parameter.
