extend layouts/base

block content

  st-content-wrapper
    st-content-row
      st-content-navigation
        nav
          p.nav-headline Resources
          ul

            li
              a(href="#")
                | Dog
                span.link-rel pet:dog

            li
              a(href="#")
                | Dog Food
                span.link-rel pet:dog-food

            li
              a(href="#")
                | Dog School
                span.link-rel pet:dog-school



      st-content-container
        st-schema(schema="...")
          h1 failed pretty hard.

          p This API tool has been written for modern people...., and you don't seem to use a modern browser.

          p Just joking. When you can read this, I have failed in catching all errors or I was too lazy. Sorry for that! But you really should be able to fix this problem by using an up-2-date browser.
