extend layouts/base

block content

  st-content-wrapper
    st-content-row
      st-content-navigation
        nav
          p.nav-headline Resources
          ul

            li
              a(href="#")
                | Dog
                span.link-rel pet:dog

            li
              a(href="#")
                | Dog Food
                span.link-rel pet:dog-food

            li
              a(href="#")
                | Dog School
                span.link-rel pet:dog-school

      st-content-container
        at-api-spec(spec=spec)
          .message
            | APITown
            = " "
            = spec
