doctype
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    title Schematown

    //- usually appended / prepended, but can be replaced
    block scripts
      link(rel="stylesheet" href=assets.mainCSS.publicPath)


  body
    block content

    footer
      block footer
