doctype
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    title APITown

    link(rel="stylesheet" href=assets.vendor.mainCSS.publicPath)

    //- usually appended / prepended, but can be replaced
    block scripts
      script(type="module" src=assets.vendor.jsYaml.publicPath)
      script(type="module" src=assets.app('js/at-api-spec.js'))


  body
    block content

    footer
      block footer
