at-content-wrapper
  display: block
  +make-container()

at-content-row
  +make-row()

at-content-navigation, at-content-container
  +make-col-ready()


@include media-breakpoint-up(md)
  at-content-navigation
    +make-col(3)

  at-content-container
    +make-col(9)
    padding-top: 1rem


@include media-breakpoint-up(lg)
  at-content-navigation
    +make-col(2)
  at-content-container
    +make-col(10)
    padding-top: 2rem
