.operation-headline
  text-transform: uppercase
  &:before, &:after
    color: #d2d5da
    font-size: 1.75rem
  &:before
    content: '[ '
  &:after
    content: ' ]'

at-api-spec-parameters
  display: block
  margin-bottom: 2rem

  h4, h5, h6
    &:before, &:after
      color: #d2d5da
      font-size: 1.25rem
    &:before
      content: '< '
    &:after
      content: ' >'

  .param-name
    font-weight: bold

  tr.required
    border-left: 3px solid #D3523C
